/* ===== Cinematic Intro ===== */

#intro{

position:fixed;

top:0;
left:0;

width:100%;
height:100vh;

background:#000;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:10000;

animation:introHide 4s forwards;

}

#intro h1{

font-size:55px;

color:#fff;

animation:zoomText 2s infinite alternate;

}

#intro p{

margin-top:20px;

font-size:22px;

color:#ffb6c1;

}

@keyframes zoomText{

from{

transform:scale(1);

}

to{

transform:scale(1.08);

}

}

@keyframes introHide{

0%,80%{

opacity:1;

visibility:visible;

}

100%{

opacity:0;

visibility:hidden;

}

}
