/* ===== Cinematic Hero ===== */

#hero{
background:url("images/photo1.jpg") center center/cover no-repeat;
position:relative;
height:100vh;
}

#hero::before{

content:"";

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.45);

backdrop-filter:blur(2px);

}

.hero-content{

position:relative;

z-index:10;

animation:fadeUp 2s;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(80px);

}

to{

opacity:1;

transform:translateY(0);

}

}
